html, body, .content {
  //background-color: #D0CBAC;
  height:100%;
  margin:0;
  font-family: arial,"Helvetica Neue",helvetica,sans-serif;
}
.content{
  display:block;
  padding-left:301px;
}
#sidebar {
  background-color:#EEE;
  height:100%;
  padding:0;
  width:300px; /* total - border */
  float:left;
  margin-left:-301px;
  border-right:solid #AAA 1px;
  overflow:auto;
}
#chart {
  width:100%;
  height:100%;
  display:block;
  float:right;
  overflow:hidden;
}
.link {
  stroke: #EEE;
  stroke-opacity: .9;
}
.node {
}
.student {
  opacity:0.6;
  font-size: 14px;
}
.category {
  opacity:0.7;
  font-size: 20px;
}
.face{
  display: inline-block;
  width: 64px;
  height: 64px;
}​